[data-n-id] rect {
    fill: #016e25;
}

[data-n-id='1'] rect {
    fill: #750000;
}

.node.red rect {
    fill: #750000;
}

[data-l-id] path {
    stroke: #750000;
}

[data-l-id='[3][4]'] path {
    stroke: #016e25;
}

[data-ctrl-ec-id] circle {
    fill: #750000 !important;
}

[data-ctrl-ec-id='3'] circle {
    fill: #016e25 !important;
}

[data-ctrl-n-menu-id] circle {
    fill: #bfbfbf;
}


#tree {
    background-color: #FFF4D6
}